---
import Default from "../../layouts/Default.astro";

/*const terms = [
	"Music usage terms; Updated 11/28/2024",
	"First and foremost, I reserve all rights to my music. *(That's what ARR is.)*",
	"Currently, the only music I'm comfortable with others using at the moment is my contributions to the [Modfest 1.21 original soundtrack.](https://modfest.bandcamp.com/)",
]; */
---

<Default title="using my music">
	<div class="flex flex-col gap-4 py-16 text-sm">
		<span class="text-6xl font-bold">Using my <span class="brand-gradient">music</span>.</span>
		Thanks for being a fan! I hope to clear up what you can and can't do with my music.
	</div>
	<div class="flex flex-col gap-2">
		<span class="italic">Music usage terms; Updated 02/03/2024</span>
		<span>
			First and foremost, I reserve all rights to my music. (I just feel more comfortable releasing it in this
			way)
		</span>
		<span
			>Currently, the only music I a m comfortable with others using at the moment are my contributions to the
			<a class="underline" href="https://modfest.bandcamp.com/"> Modfest 1.21 original soundtrack</a>.
		</span>
		<span>When using my music contributions, please provide credit (and @ me on Bluesky, I'd love to see it!)</span>
		<span>Please reach out by email if interested in using any of my other music.</span>
	</div>
</Default>
