---
import Default from "../../layouts/Default.astro";
---

<Default title="using my music">
	<div class="flex flex-col gap-4 py-16 text-sm">
		<span class="text-6xl font-bold">Using my <span class="brand-gradient">music</span>.</span>
		Thanks for being a fan! I hope to quickly answer any questions you might have if you wanted to use my music.
	</div>
	<div class="flex flex-col gap-2">
		<span class="italic">Music usage terms; Updated 01/04/2025</span>
		<span>
			First and foremost, I reserve all rights to my music. (I just feel more comfortable releasing it in this
			way)
		</span>
		<span>
			You are allowed to use my music in video content (such as YouTube gameplay, Twitch streams, etc)- but please do not re-upload my music on any platforms.
		</span>
		<span>When using my music, please provide credit (and optionally @ me on Bluesky, I'd love to see it!)</span>
		<span>My work MAY NOT BE USED to train artificial intelligence / machine learning models.</span>
		<span>Please reach out by email (hello bat worldwidepixel dot ca) if interested in using my music in any way not allowed above- or if you have any questions or concerns. I'd love to hear from you.</span>
	</div>
</Default>
