---
import { ExternalLink } from "lucide-astro";
const { to, external, showIcon } = Astro.props;
---

{
	external && (
		<a
			target="_blank"
			class="flex w-fit flex-row items-center gap-2 font-bold text-brand-text-secondary hover:underline"
			href={to}>
			<slot /> {showIcon && <ExternalLink />}
		</a>
	)
}
{
	!external && (
		<a class="flex w-fit flex-row items-center gap-2 font-bold text-brand-text-secondary hover:underline" href={to}>
			<slot />
		</a>
	)
}
