---
const { text, to, external } = Astro.props;
---

<a
	target={external === true ? "_blank" : ""}
	href={to}
	class="flex select-none flex-row items-center gap-4 border-8 bg-brand-background-blue p-4 text-2xl font-bold text-brand-text-secondary outline-none hover:border-brand-border-alt focus-visible:border-brand-border-alt active:scale-95">
	{text}
	<slot />
</a>
