---
const { text, to, external } = Astro.props;
---

<a
	target={external === true ? "_blank" : ""}
	href={to}
	class="flex select-none flex-row items-center gap-4 rounded-2xl border bg-brand-background-blue p-4 text-2xl font-bold text-brand-text-secondary duration-75 active:scale-95">
	{text}
	<slot />
</a>
