---
import Link from "../components/Link.astro";
import PixelDiamond from "../components/PixelDiamond.astro";
import PixelLogo from "../components/PixelLogo.astro";
import { Github, Youtube, Modrinth, Bluesky } from "simple-icons-astro";
import "../styles/global.css";
import CircleButton from "../components/CircleButton.astro";
import type { Fragment } from "vue";
import Separator from "../components/ui/Separator.astro";

let { title } = Astro.props;
if (title === "" || title === undefined) {
	title = "worldwidepixel";
} else {
	title += " - worldwidepixel";
}
---

<!doctype html>
<html lang="en" class="h-full bg-brand-background text-brand-text">
	<head>
		<title>{title}</title>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="title" content="home - worldwidepixel" />
		<meta name="description" content="I make things. On the internet." />
		<meta
			name="keywords"
			content="minecraft,worldwidepixel,pixel,wildflower,joy,modfest,music,spirit,spiritstudios,snapper"
		/>
		<meta name="robots" content="index" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="language" content="English" />
		<meta name="publisher" content="WorldWidePixel" />
		<meta name="author" content="WorldWidePixel" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="worldwidepixel" />
		<meta property="og:url" content="https://worldwidepixel.ca" />
		<meta property="og:image" content="https://worldwidepixel.ca/img/icon_512x.png" />
		<meta name="twitter:site" content="@worldwidepixel" />
		<meta name="twitter:card" content="summary" />
		<meta name="theme-color" content="#28cbd4" />
		<meta property="og:description" content="I make things. On the internet." />
		<link rel="me" href="https://mastodon.social/@worldwidepixel" />
		<link rel="sitemap" href="/sitemap-index.xml" />
	</head>

	<body class="flex h-dvh flex-col">
		<nav class="flex w-full flex-row justify-center bg-brand-background-transparent">
			<div class="flex w-full max-w-[80rem] flex-row items-center justify-center gap-4 px-5 sm:justify-between">
				<div
					class="grid w-full select-none grid-cols-2 flex-row items-center justify-center gap-x-12 gap-y-4 p-6 text-base font-bold sm:flex">
					<span class="col-span-2">
						<a aria-label="WorldWidePixel Home" class="block w-fit" href="https://worldwidepixel.ca"
							><PixelLogo className="p-0.5" /></a
						>
					</span>
					<div class="hidden sm:block">
						<PixelDiamond />
					</div>
					<a href="/">Home</a>
					<a href="/projects">Projects</a>
					<a href="/blog">Blog</a>
					<a href="https://lynndova.com">Music</a>
				</div>
			</div>
		</nav>
		<Separator src="separator/separator_header.png" />
		<main class="flex w-full flex-auto flex-row justify-center py-6">
			<div class="w-full max-w-[80rem] px-6">
				<slot />
			</div>
		</main>
		<Separator src="separator/separator_footer.png" />
		<footer class="flex w-full flex-row justify-center bg-brand-background-blue">
			<div class="w-full max-w-[80rem] px-6">
				<div class="grid w-full grid-cols-1 sm:grid-cols-3">
					<div class="flex flex-col justify-center gap-3 p-6">
						<a
							aria-label="WorldWidePixel Home"
							class="flex w-fit flex-row items-center gap-4 text-xl hover:underline"
							href="/">
							<PixelLogo className="p-0.5" />
							WorldWidePixel
						</a>
						<div class="flex flex-row gap-1">
							<CircleButton label="WorldWidePixel on GitHub" to="https://github.com/worldwidepixel"
								><Github className="p-0.5" /></CircleButton
							>
							<CircleButton label="WorldWidePixel on YouTube" to="https://www.youtube.com/@worldwidepixel"
								><Youtube className="p-0.5" /></CircleButton
							>
							<CircleButton
								label="WorldWidePixel on Bluesky"
								to="https://bsky.app/profile/worldwidepixel.ca"
								><Bluesky className="p-0.5" /></CircleButton
							>
							<CircleButton
								label="WorldWidePixel on Modrinth"
								to="https://modrinth.com/user/worldwidepixel"
								><Modrinth className="p-0.5" /></CircleButton
							>
						</div>
					</div>
					<div class="flex flex-col gap-2 p-6">
						<span class="font-bold">Interact</span>
						<Link external={true} to="https://bsky.app/profile/worldwidepixel.ca"
							><Bluesky className="p-0.5" />Bluesky</Link
						>
						<Link external={true} to="https://github.com/worldwidepixel"
							><Github className="p-0.5" />Github</Link
						>
					</div>
					<div class="flex flex-col gap-2 p-6">
						<span class="font-bold">About</span>
						<span>&copy; 2025 WorldWidePixel</span>
						<Link to="https://github.com/worldwidepixel/worldwidepixel-website">View source</Link>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
